@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-grid {
    background-color: #e5e5f7;
    background-image: linear-gradient(#7a7da656 2px, transparent 2px), linear-gradient(to right, #7a7da656 2px, #e5e5f7 2px);
    /* size */
    background-size: var(--size) var(--size);
    /* offset */
    background-position: left var(--off-x) top var(--off-y);
  }
}
